<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 d-flex justify-content-center user-info">

      <div>
      <img src="<%= user.user_image %>" class="profile-picture-main" >
      <h4>User Profile</h4>
        <h5><%= user.name %></h5>
        <h6 style="text-align:center;"><%= user.date_joined %></h6>
        <h5 style="text-align:center;"><%= user.current_city %></h5>
      </div>
      </div>
      <div class="col col-md-8 posts">
        <h1><%= reviews.city %></h1>

        <hr>
           <h2 style="text-align:center;"><%= reviews.title %></h2>
           <br>
         <h3><%= reviews.body %></h3>
          <h6 style="text-align:center;"><i><%= reviews.time_posted %></i></h6>

    </div>
  </div>
</div>
<% include ../partials/footer.ejs %>
