<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<div class="buttons">
  <i class="fa fa-angle-left arrow" aria-hidden="true"></i>
  <i class="fa fa-angle-right arrow" aria-hidden="true"></i>
</div>
<div class="slide splash-page">
</div>
<div class="slide splash-page2">
</div>
<div class="slide splash-page3 hide-splash">
</div>

<div class="col col-md-8 citiesPosts">
<% reviews.forEach((reviews) => { %>
  <img src="<%= user.user_image %>" class="profile-picture-main" >
  <h2><%= reviews.city %></h2>
  <h3><%= reviews.title %></h3>
   <p><i><%= reviews.time_posted %></i></p>
   <p><%= reviews.body %></p>

<% }); %>
</div>
<% include ../partials/footer.ejs %>
